<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Portfolio</title>
</head>
<body>
    <h1>Hi, I'm Krista</h1>
    <h2>Welcom to My Portfolio</h2>
    <a href="/projects" method='post'>Projects</a>
    <p>I have a variety of projects both personal and contract. They are built using Python, Swift, and Javascript</p>
    <a href="/aboutme" method='post'>About Me</a>
    <p>A little about my background and why I do what I do</p>
    <a href="/testimonials" method='post'>Testimonials</a>
    <p>What my clients and mentors have to say about my projects and work ethic</p>
</body>
</html>